<header>
  <h1> <%= @image.title %>  </h1>
  <div>
    <ul>
      <li class='icon-list'> <%= image_tag("wally.png", class:"icon", id:"Wally") %> </li>
      <li class='icon-list'> <%= image_tag("wenda.jpg", class:"icon", id:"Wenda") %>  </li>
      <li class='icon-list'> <%= image_tag("wizard.gif", class:"icon", id:"WizardWhitebeard") %>  </li>
      <li class='icon-list'> <%= image_tag("woof.png", class:"icon", id:"Woof") %>  </li>
      <li class='icon-list'> <%= image_tag("odlaw", class:"icon", id:"Odlaw") %>  </li>
      <%= link_to "Home", root_url, class: "home-link" %>
    </ul>
  </div>
</header>
<div id="container">
  <%= image_tag(@image.src, class:"game-picture") %>
</div>
